<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ws14Entities" connectionString="metadata=res://*/SotrudnikisMedgikWorks.csdl|res://*/SotrudnikisMedgikWorks.ssdl|res://*/SotrudnikisMedgikWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M1H8JCV\SQLEXPRESS02;initial catalog=ws14;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ws14Entities1" connectionString="metadata=res://*/SotrudnikisMegikWorks.csdl|res://*/SotrudnikisMegikWorks.ssdl|res://*/SotrudnikisMegikWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M1H8JCV\SQLEXPRESS02;initial catalog=ws14;user id=ws14;password=ws14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>